<app-home-header></app-home-header>
<div class="asdf" id="bg">
    <input type="radio" name="position" class="radiobtn"/>
    <input type="radio" name="position" class="radiobtn"checked/>
    <input type="radio" name="position" class="radiobtn" />
    <main id="carousel">
      <div class="item" style="height: 350px;">
        <div class="img1">
          <img src=".\assets\Images\home-page\Image 3.png" width="85px" height="88px">
        </div>
        <div class="carousel1">
            <p class="headding">eLearning</p>
            <p class="content">ELEARNING module for the training of standard operating procedures, regulations, changes.</p>
        </div>
      </div>
      <div class="item">
        <div class="img2">
        <img src=".\assets\Images\home-page\Image 2.png" width="144px" height="144px">
        </div>
        <div class="carousel1">
            <p class="headding">Augmented Regulatory</p>
            <p class="content">Worldwide regulations scatter in various forms and places! Save time and efforts required to consolidate the data from various sources.</p>
            <button mat-stroked-button class="knowmore-btn">Know more</button>
        </div>
      </div>
      <div class="item" style="height: 350px;">
        <div class="img3">
          <img src=".\assets\Images\home-page\Image 4.png" width="85px" height="88px">
        </div>
        <div class="carousel1">
            <p class="headding">Device Classification</p>
            <p class="content">Device CLASSIFICATION tool based on classification rules with automatic regulatory requirement map based on country registered.</p>
        </div>
      </div>
      <main>
</main>
</main>
</div>
