#customers {
    border-collapse: collapse;
    width: 100%;
  }
    
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #E7F1F9;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #E7F1F9;
    color: #304258;
  }