<div class="by-tag" style="padding: 10px;">
    <mat-grid-list  cols="4" rows="2">
        <mat-grid-tile-header>
                <mat-label style="color:#081D2D;opacity:1;font-size: 18px;font-family: Ubuntu;padding-left: 100px;">Search by keyword or tag</mat-label>               
                <mat-form-field appearance="outline" style="width:558px; padding-left: 20px;">
                    <input matInput placeholder="Ex: Risk, Safety, Alarm etc..">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  </mat-form-field>                
        </mat-grid-tile-header>
        <mat-grid-tile>
            <mat-list role="list">
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
              </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-list role="list">
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
              </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-list role="list">
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
              </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-list role="list">
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
              </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-list role="list">
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
              </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-list role="list">
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
              </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-list role="list">
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
              </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-list role="list">
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
              </mat-list>
        </mat-grid-tile>
    </mat-grid-list>
    
    
</div>