<div class="regulatory-watch">
    <mat-grid-list cols="3" rows="2" [gutterSize]="'15px'"  rowHeight="4:3">
        <mat-grid-tile-header>        
            <p class="rw-headding">Newsletters</p>
        </mat-grid-tile-header>
        <mat-grid-tile>
            <mat-list role="list" class="main-list">
                <mat-list-item role="listitem" class="dates">
                    <p>03 December 2022</p>
                </mat-list-item>
                <mat-list-item role="listitem" class="content1">
                    <p>Directive 98/79/EC of the European Parliament and of the Council
                     on In Vitro Diagnostic Medical Devices (IVDMD)</p>
                </mat-list-item>
                <mat-list-item role="listitem" class="content2">
                    Directive 98/79/EC of the European Parliament and of the Council 
                    on In Vitro Diagnostic Medical Devices (IVDMD)...</mat-list-item>
                    <mat-list-item class="knowmore">
                        Know more >
                    </mat-list-item>
              </mat-list>              
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-list role="list" class="main-list">
                <mat-list-item role="listitem" class="dates">
                    <p>03 December 2022</p>
                </mat-list-item>
                <mat-list-item role="listitem" class="content1">
                    <p>Directive 98/79/EC of the European Parliament and of the Council
                     on In Vitro Diagnostic Medical Devices (IVDMD)</p>
                </mat-list-item>
                <mat-list-item role="listitem" class="content2">
                    Directive 98/79/EC of the European Parliament and of the Council 
                    on In Vitro Diagnostic Medical Devices (IVDMD)...</mat-list-item>
                    <mat-list-item class="knowmore">
                        Know more >
                    </mat-list-item>
              </mat-list>              
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-list role="list" class="main-list">
                <mat-list-item role="listitem" class="dates">
                    <p>03 December 2022</p>
                </mat-list-item>
                <mat-list-item role="listitem" class="content1">
                    <p>Directive 98/79/EC of the European Parliament and of the Council
                     on In Vitro Diagnostic Medical Devices (IVDMD)</p>
                </mat-list-item>
                <mat-list-item role="listitem" class="content2">
                    Directive 98/79/EC of the European Parliament and of the Council 
                    on In Vitro Diagnostic Medical Devices (IVDMD)...</mat-list-item>
                    <mat-list-item class="knowmore">
                        Know more >
                    </mat-list-item>

              </mat-list>              
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-list role="list" class="main-list">
                <mat-list-item role="listitem" class="dates">
                    <p>03 December 2022</p>
                </mat-list-item>
                <mat-list-item role="listitem" class="content1">
                    <p>Directive 98/79/EC of the European Parliament and of the Council
                     on In Vitro Diagnostic Medical Devices (IVDMD)</p>
                </mat-list-item>
                <mat-list-item role="listitem" class="content2">
                    Directive 98/79/EC of the European Parliament and of the Council 
                    on In Vitro Diagnostic Medical Devices (IVDMD)...</mat-list-item>
                    <mat-list-item class="knowmore">
                        Know more >
                    </mat-list-item>

              </mat-list>              
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-list role="list" class="main-list">
                <mat-list-item role="listitem" class="dates">
                    <p>03 December 2022</p>
                </mat-list-item>
                <mat-list-item role="listitem" class="content1">
                    <p>Directive 98/79/EC of the European Parliament and of the Council
                     on In Vitro Diagnostic Medical Devices (IVDMD)</p>
                </mat-list-item>
                <mat-list-item role="listitem" class="content2">
                    Directive 98/79/EC of the European Parliament and of the Council 
                    on In Vitro Diagnostic Medical Devices (IVDMD)...</mat-list-item>
                    <mat-list-item class="knowmore">
                        Know more >
                    </mat-list-item>

              </mat-list>              
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-list role="list" class="main-list">
                <mat-list-item role="listitem" class="dates">
                    <p>03 December 2022</p>
                </mat-list-item>
                <mat-list-item role="listitem" class="content1">
                    <p>Directive 98/79/EC of the European Parliament and of the Council
                     on In Vitro Diagnostic Medical Devices (IVDMD)</p>
                </mat-list-item>
                <mat-list-item role="listitem" class="content2">
                    Directive 98/79/EC of the European Parliament and of the Council 
                    on In Vitro Diagnostic Medical Devices (IVDMD)...</mat-list-item>
                    <mat-list-item class="knowmore">
                        Know more >
                    </mat-list-item>

              </mat-list>
        </mat-grid-tile>

    </mat-grid-list>
</div>
